<html>
       <head>
              <title>Weather App</title>
       </head>
       <body>
              <form action="">
                     <input type="text" placeholder="Location" id="location">
                     <button class="btn loc">Submit</button>
              </form>
        <p class="message">msg</p>
       <script src="/js/app.js"></script>
       </body>
</html>